<div class="card">
    <picture>
      <img class="imagen-card" src="/assets/casa.jpg" alt="" />
    </picture>
    <div class="contenido-card">
      <h3 class="centrado">Casa en huachi</h3>
      <p class="centrado">"Casa en huachi con muchas cosas bonitas"</p>
      <div class="info-precio-card">
        <p>$300</p>
        <label for="">Compartido <input type="checkbox" /></label>
      </div>
      <div class="info-lugar-card">
          <label for="">Tungurahua-Ambato</label>
      <label for="">Departamento</label>
      </div>
      <ul class="iconos-card">
        <li>
          <img src="/assets/cuartos.png" alt="" />
          <p>3</p>
        </li>
        <li>
          <img src="/assets/toilet.png" alt="" />
          <p>3</p>
        </li>
        <li>
          <img src="/assets/garage.png" alt="" />
          <input type="checkbox" />
        </li>
      </ul>
      <div class="ver-anuncio-card">
        <p>Disponible</p>
        <button mat-raised-button color="primary">Ver anuncio</button>
      </div>
    </div>
  </div>
