<div class="container">
  <h1>Calificaciones</h1>
  <div class="admitidos">
    <h2>Usuarios que calificaron</h2>
    <table mat-table [dataSource]="calificaciones" class="mat-elevation-z8 mt-3 mb-3">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="idArr">
        <th mat-header-cell *matHeaderCellDef>Arriendo</th>
        <td mat-cell *matCellDef="let element">{{ element.descArr }}</td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="idUsu">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">{{ element.nomUsu }} {{ element.apeUsu }} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="calificacion">
        <th mat-header-cell *matHeaderCellDef>Calificacion</th>
        <td mat-cell *matCellDef="let element">{{ element.calificacion }}</td>
      </ng-container>
      <ng-container matColumnDef="dirArr">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td class="botones" mat-cell *matCellDef="let element">
          <div class="acciones m-2">
            <button class="w-60" mat-raised-button color="primary" (click)="onClickEliminar(element.id)" >Quitar</button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="usuarios">
    <hr />
    <div>
      <br />
      <h2>Información de usuario</h2>
      <form action="" [formGroup]="formCalificaciones" (ngSubmit)="onClickAgregar(formCalificaciones.value)">
        <mat-form-field appearance="outline" class="w-100" >
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="idUsu">
            <mat-option>Ninguno</mat-option>
            <mat-option
              *ngFor="let usuario of usuarios"
              [value]="usuario.idUsu"
            >
              {{ usuario.nomUsu }} {{ usuario.apeUsu }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="mb-3" type="submit" mat-raised-button color="primary">Agregar</button>
      </form>
    </div>
  </div>
</div>
