.header{
    background-image:url(/assets/opcion3Casa.jpeg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header a{
    color: #fff;
    text-decoration: none;
}
.header__texto{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-top: 50px;
}

.logueado{
    color:white;
    display: flex;
    gap: 5px;
}

.footer .btn {
    margin-bottom: 0;
  }
  
  .btn-danger {
    background-color: #D5BDAF;
    border-color: #D5BDAF;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .show > .btn-danger.dropdown-toggle {
    background-color: grey;
    color: #FFFFFF;
    border-color: grey;
  }
  .btn-danger .caret {
    border-top-color: #FFFFFF;
  }
  .btn-danger.btn-link {
    color: grey;
  }
  .btn-danger.btn-link:hover, .btn-danger.btn-link:focus, .btn-danger.btn-link:active, .btn-danger.btn-link.active, .open > .btn-danger.btn-link.dropdown-toggle {
    background-color: transparent;
    color: grey;
  }
  .btn-danger.btn-link .caret {
    border-top-color: grey;
  }
  .btn-danger .caret {
    border-top-color: #FFFFFF;
  }
  .btn-round {
    border-radius: 30px;
  }