<header class="header">
  <div class="container">
    <div class="barra">
      <a class="btn btn-danger btn-round" href="/">Logo</a>
      <nav class="navegacion">
        <div>
          <a class="btn btn-danger btn-round" href="/">Favoritos</a>
          <a>ㅤ</a>
          <a class="btn btn-danger btn-round" href="/tus-anuncios">Tus anuncios</a>
          <a>ㅤ</a>
          <a class="btn btn-danger btn-round" href="/buscar-arriendo">Buscar</a>
        </div>
        <div>
          <div *ngIf="logueado">
            <div><a class="btn btn-danger btn-round" href="/login">Iniciar Sesión</a></div>
            <hr color="black">
            <div><a class="btn btn-danger btn-round" href="/signin">Crear Cuenta</a></div>
          </div>
          <div class="logueado btn btn-danger btn-round" *ngIf="!logueado">
            <p >{{this.usuario.usernameUsu}}</p>

            <button type="submit" (click)="onClickLogout()" >
              <mat-icon >logout</mat-icon>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="header__texto">
    <h1><b>La casa o el negocio de tus sueños</b></h1>
  </div>
</header>
