<header class="header">
    <div class="container">
      <div class="barra">
        <a href="/">Logo</a>
        <nav class="navegacion">
          <a href="/">Favoritos</a>
          <a href="/">Tus anuncios</a>
          <a href="/">Buscar</a>
          <div>
            <div><a href="/login">Iniciar Sesión</a></div>
            <div><a href="/signin">Crear Cuenta</a></div>
          </div>
        </nav>
      </div>
    </div>
    <div class="header__texto">
      <h1>Consigue la casa o el negocio de tus sueños</h1>
    </div>
</header>
