<header class="header">
  <div class="container">
    <div class="barra">
      <a href="/">Logo</a>
      <nav class="navegacion">
        <a href="/">Favoritos</a>
        <a href="/">Tus anuncios</a>
        <a href="/buscar-arriendo">Buscar</a>
        <div>
          <div *ngIf="logueado">
            <div><a href="/login">Iniciar Sesión</a></div>
            <div><a href="/signin">Crear Cuenta</a></div>
          </div>
          <div class="logueado" *ngIf="!logueado">
            <p >{{usuario.usernameUsu}}</p>
            <button type="submit" (click)="onClickLogout()" >
              <mat-icon >logout</mat-icon>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="header__texto">
    <h1>Consigue la casa o el negocio de tus sueños</h1>
  </div>
</header>
