      <div class="container">
        <form id="contact">
          <h3>Crear Cuenta</h3>
          <form [formGroup]="nuevoForm" (ngSubmit)="postForm(nuevoForm.value)" action="" class="form-col">

            <div>
              <mat-form-field appearance="outline" class="col-md-11">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" id="nomUsu" name="nomUsu" formControlName="nomUsu"/>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="col-md-11">
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Apellido" id="apeUsu" name="apeUsu" formControlName="apeUsu"/>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="col-md-11">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="Usuario" id="usernameUsu" name="usernameUsu" formControlName="usernameUsu" />
              </mat-form-field>
            </div>

            <div>
              <mat-form-field appearance="outline" class="col-md-11">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Contraseña" id="passwordUsu" name="passwordUsu" formControlName="passwordUsu" type="password" />
              </mat-form-field>
            </div>

            <div>
              <mat-form-field appearance="outline" class="col-md-11">
                <mat-label>Teléfono convencional</mat-label>
                <input matInput placeholder="Teléfono" id="telUsu" name="telUsu" formControlName="telUsu"/>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field appearance="outline" class="col-md-11">
                <mat-label>Teléfono</mat-label>
                <input matInput placeholder="Usuario" id="tel2Usu" name="tel2Usu" [pattern]="mobNumberPattern" formControlName="tel2Usu"/>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field appearance="outline" class="col-md-11">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="E-mail" id="correoUsu" name="correoUsu" formControlName="correoUsu"/>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width" appearance="outline" class="col-md-11">
                <mat-label>Fecha de nacimiento (MM/DD/YYYY)</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaNacUsu" >
                <mat-hint></mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div>
                <input type="hidden" id="tipoUsu" name="tipoUsu" value="2" formControlName="tipoUsu"/>
            </div>

            <button mat-raised-button color="primary" type="submit">Crear Cuenta</button>

          </form>
        </form>


      </div>