<br>
<br>
<div style="background-color:black; height: 70px;">
  <br>
  <h1 style="color: #D5BDAF; text-align: center;">Usuarios</h1>
</div>
<br>
<div class="container">
  <button  class="w-25 m-2" mat-raised-button color="primary">Nuevo</button>
  <table mat-table [dataSource]="USUARIOS" class="mat-elevation-z8 mt-3 mb-3">
    <!-- Position Column -->
    <ng-container matColumnDef="idUsu">
      <th mat-header-cell *matHeaderCellDef>Id.</th>
      <td mat-cell *matCellDef="let element">{{ element.idUsu }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nomUsu">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nomUsu }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="apeUsu">
      <th mat-header-cell *matHeaderCellDef>Apellido</th>
      <td mat-cell *matCellDef="let element">{{ element.apeUsu }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="fechaNacUsu">
      <th mat-header-cell *matHeaderCellDef>Cuartos</th>
      <td mat-cell *matCellDef="let element">{{ element.fechaNacUsu }}</td>
    </ng-container>

    <ng-container matColumnDef="telUsu">
      <th mat-header-cell *matHeaderCellDef>Teléfono</th>
      <td mat-cell *matCellDef="let element">{{ element.telUsu }}</td>
    </ng-container>

    <ng-container matColumnDef="tel2Usu">
      <th mat-header-cell *matHeaderCellDef>Segundo Teléfono</th>
      <td mat-cell *matCellDef="let element">{{ element.tel2Usu }}</td>
    </ng-container>

    <ng-container matColumnDef="correoUsu">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td  class="p-3" mat-cell *matCellDef="let element">
        {{ element.correoUsu }}
      </td>
    </ng-container>

    <ng-container matColumnDef="usernameUsu">
      <th mat-header-cell *matHeaderCellDef>Nombre de Usuario</th>
      <td  mat-cell *matCellDef="let element">{{ element.usernameUsu}}</td>
    </ng-container>

    <ng-container matColumnDef="amueblado">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <div class="acciones m-2">
          <button class="w-60" mat-raised-button color="primary">Editar</button>
          <button class="w-60" mat-raised-button color="warn" >Eliminar</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
