<div class="container">
  <h2 class="mx-auto" style="width: 200px">Reportes</h2>
  <div class="reportes-header">
    <div class="reportes-botones">
      <button
        class="m-1"
        mat-raised-button
        color="primary"
        (click)="onClickVolver()"
      >
        Volver
      </button>
      <mat-form-field appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select
          (valueChange)="onSelectedValueChange($event)"
        >
          <mat-option >Ninguno</mat-option>
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">
            {{ tipo.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="container">
  <table mat-table [dataSource]="ARRIENDOS" class="mat-elevation-z8 mt-3 mb-3">
    <!-- Position Column -->
    <ng-container matColumnDef="idArr">
      <th mat-header-cell *matHeaderCellDef>Id.</th>
      <td mat-cell *matCellDef="let element">{{ element.idArr }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="descArr">
      <th mat-header-cell *matHeaderCellDef>Titulo</th>
      <td mat-cell *matCellDef="let element">{{ element.descArr }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nomTipArr">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let element">{{ element.nomTipArr }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
    </ng-container>

    <ng-container matColumnDef="publicado">
      <th mat-header-cell *matHeaderCellDef>Compartido</th>
      <td class="p-3" mat-cell *matCellDef="let element">
        <input type="checkbox" disabled [checked]="element.publicado" />
      </td>
    </ng-container>

    <ng-container matColumnDef="chechArrendar">
      <th mat-header-cell *matHeaderCellDef>Disponible</th>
      <td class="p-3" mat-cell *matCellDef="let element">
        <input type="checkbox" disabled [checked]="element.chechArrendar" />
      </td>
    </ng-container>

    <ng-container matColumnDef="nomCiu">
      <th mat-header-cell *matHeaderCellDef>Lugar</th>
      <td mat-cell *matCellDef="let element">
        {{ element.nomCiu }} - {{ element.nomPro }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
