<div class="container">
  <h1 class="centrado titulo-nosotros">SOBRE NOSOTROS</h1>
  <div class="container contenedor-nosotros">
    <div class="info-nosotros">
      <h4 class="centrado">SEGURIDAD</h4>
      <div class="icono-container">
        <img src="/assets/billete.png" alt="Icono de billete" class="icono" />
      </div>
      <p class="texto-info-nosotros">
        Empresa dedicada al arrendamiento de casas o locales comerciales
      </p>
    </div>
    <div class="info-nosotros">
      <h4 class="centrado">CONFIANZA</h4>
      <div class="icono-container">
        <img src="/assets/candado.png" alt="Icono de billete" class="icono" />
      </div>
      <p class="texto-info-nosotros">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ut
        eveniet pariatur distinctio nostrum, eum, molestias assumenda hic
        aliquam maiores et, nemo voluptatibus totam fugit delectus veniam
        possimus laudantium natus?
      </p>
    </div>
    <div class="info-nosotros">
      <h4 class="centrado">SEGURIDAD</h4>
      <div class="icono-container">
        <img src="/assets/check.png" alt="Icono de billete" class="icono" />
      </div>
      <p class="texto-info-nosotros">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ut
        eveniet pariatur distinctio nostrum, eum, molestias assumenda hic
        aliquam maiores et, nemo voluptatibus totam fugit delectus veniam
        possimus laudantium natus?
      </p>
    </div>
  </div>
</div>
<div class="imagen-info icono-container">
  <h2>CONSIGUE LA CASA DE TUS SUEÑOS</h2>
</div>
<app-contenedor-card></app-contenedor-card>