<br>
<br>
<div class="container">
  <h1 class="centrado titulo-nosotros">SOBRE NOSOTROS</h1>
  <div id="contact">
  <div class="container contenedor-nosotros">
    <div class="info-nosotros">
      <h4 class="centrado">ACCESIBILIDAD</h4>
      <div class="icono-container">
        <img src="/assets/billete.png" alt="Icono de billete" class="icono" />
      </div>
      <br>
      <p class="texto-info-nosotros">
        Es el valor o precio establecido en el contrato de mutuo acuerdo, que debe cancelar el arrendatario al arrendador por el uso y goce del inmueble arrendado.
        Generalmente constituye una cantidad de dinero establecida en el contrato que recibe el propietario del inmueble.
      </p>
    </div>
    <div class="info-nosotros">
      <h4 class="centrado">CONFIANZA</h4>
      <div class="icono-container">
        <img src="/assets/candado.png" alt="Icono de billete" class="icono" />
      </div>
      <br>
      <p class="texto-info-nosotros">
        El inmueble que es objeto del contrato es singularizado con detalles propios que lo individualizan como la dirección exacta, la superficie, la ubicación dentro del inmueble, la distribución, y su estado de conservación, etcétera.
      </p>
    </div>
    <div class="info-nosotros">
      <h4 class="centrado">SEGURIDAD</h4>
      <div class="icono-container">
        <img src="/assets/check.png" alt="Icono de billete" class="icono" />
      </div>
      <br>
      <p class="texto-info-nosotros">
        El Arrendamiento no es otra cosa que la relación contractual verbal o escrita, en la que una persona natural o jurídica entrega el uso, goce y posesión de un inmueble de manera temporal a otra persona natural o jurídica a cambio de una prestación económica.
      </p>
    </div>
  </div>
</div>
</div>
<div class="imagen-info2 icono-container">
  <h1 style="color: #D5BDAF; background-color:whitesmoke;"> <b>CONSIGUE LA CASA DE TUS SUEÑOS</b></h1>
</div>