<app-header></app-header>


<mat-card class="card-detalle">
    <mat-card-header class="title_center">
        <mat-card-title >
     
                <h1 class="title_center">Detalle del arriendo</h1>
   
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="3"  rowHeight="550px">
            <mat-grid-tile>
                <div class="borde">
                    <label class="labels-info" for="">                        
                        Nombre del propietario:
                        <p class="informacion">Juan Perez</p>
                    </label>
                    <label class="labels-info" for="">
                        Teléfono del propietario:
                        <p class="informacion" >0984512632</p>
                    </label>
                    <label class="labels-info" for="">
                        Dirección del propietario
                        <p class="informacion">Ambato</p>
                    </label>
                    <label class="labels-info" for="">
                        Correo Electrónico del propietario
                        <p class="informacion">pansitas.2001@gmail.com</p>
                    </label>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <picture>
                    <div class="alinear-vertical">
                        <img style="width: 95%;" src="/assets/casa.jpg">
                        <button class="boton-favorito" mat-fab color="white" (click)="agregarAFavoritos()">
                            <mat-icon>favorite</mat-icon>
                        </button>
                        
                        <label class="subtitulos">
                            <mat-icon class="favorito">star</mat-icon>
                            4.5                        
                        </label>

                    </div>
                </picture>
            </mat-grid-tile>

            <mat-grid-tile >
                <div class="borde" *ngFor="let arriendo of arriendos">
                    <h1>Arriendos Disponibles</h1>
                    <div class="centrado">
                        <b>
                            <h4>$ {{ arriendo.precio }}</h4>
                        </b>
                    </div>

                    <div class="centrado">
                        <h4> Descripción: {{ arriendo.descArr }}</h4>
                    </div>

                    <ul class="iconos-card">
                        <li>
                            <img src="/assets/cuartos.png" alt="" />
                            <p>{{ arriendo.numHab }}</p>
                        </li>
                        <li>
                            <img src="/assets/toilet.png" alt="" />
                            <p>{{ arriendo.numBanos }}</p>
                        </li>
                        <li>
                            <img src="/assets/garage.png" alt="" />
                            <mat-icon *ngIf="arriendo.garage" > check </mat-icon>                            
                        </li>
                    </ul>

                    <p class="centrado"> Tipo Arriendo: <b>{{arriendo.nomTipArr}}</b></p>



                    <div class="centrado">
                        <label for="">{{ arriendo.nomCiu }}</label> -
                        <label for="">{{ arriendo.nomPro }}</label>
                    </div>




                    <div class="centrado">
                        <label for="">
                            Mascotas
                            <mat-icon *ngIf="arriendo.numPersonas>1"> check </mat-icon>
                        </label>
                    </div>

                    <div class="centrado">
                        <label>
                            Compartido
                            <mat-icon *ngIf="arriendo.numPersonas>1"> check </mat-icon>
                        </label>
                    </div>

                    <div class="centrado">
                        <b>
                            <p *ngIf="arriendo.chechArrendar">Disponible</p>
                        </b>
                        <b>
                            <p *ngIf="!arriendo.chechArrendar">No Disponible</p>
                        </b>
                    </div>

                </div>
            </mat-grid-tile>
        </mat-grid-list>
        

    </mat-card-content>
</mat-card>


<app-footer></app-footer>