.centrado{
    text-align: center;
}
.card{
    max-width: 300px;
    background-color: #EDEDE9;
    border: 1px solid #E0E0E0;
}

.info-precio-card{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.info-lugar-card{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.imagen-card{
    max-width: 270px;
}

.iconos-card{
    display: flex;
    list-style: none;
    padding: 0;
}

.iconos-card li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.iconos-card li img{
    flex: 0 0 50px;
}
.iconos-card li p{
    font-weight: 700;
}

.ver-anuncio-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

button{
    background: #D19E78 !important;
}