<div>
  <form action="" class="d-flex justify-content-around">
    <mat-form-field appearance="fill">
      <mat-label>Ciudad</mat-label>
      <mat-select>
        <mat-option> Pichincha </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cantón</mat-label>
      <mat-select>
        <mat-option>Cantón </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tipo arriendo</mat-label>
      <mat-select>
        <mat-option>Casa </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  appearance="fill">
        <mat-label>Habitaciones</mat-label>
        <input matInput type="number" placeholder="Habitaciones" value="">
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>Baños</mat-label>
        <input matInput type="number" placeholder="Habitaciones" value="">
      </mat-form-field>
      <div class="">
      <mat-checkbox class="compartido">Compartido</mat-checkbox>
      </div>
     <div>
       <button class="compartido">
        <mat-icon aria-hidden="false" >search</mat-icon>
       </button>
     </div>
    </form>
</div>
